run = "npm start"
entrypoint = "src/app.ts"

[nix]
channel = "stable-22_11"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[deployment]
run = "npm start"
deploymentTarget = "cloudrun"
buildCommand = "npm run build"
